<%- include ("partials/header") %>
<div class="ui main text container segment">
  <div class="ui huge header">
    Restful Blog app
  </div>
  <div class="ui attached top segment">
    <div class="ui divided items">
      <% blogs.forEach(function(blog){%>
      <div class="item">
        <div class="image">
          <img src="<%=blog.image%>" alt="" />
        </div>
        <div class="content">
          <a class="header" href="/blogs/<%=blog._id %>"><%=blog.name%></a>
          <div class="meta">
            <span><%=blog.date.toDateString()%></span>
          </div>
          <div class="description">
            <p><%-blog.body.substring(0,100)%>...</p>
          </div>
          <div class="extra">
            <a href="/blogs/<%=blog._id %> " class="ui floated button inverted blue">
              Read more <i class="right chevron icon"></i>
            </a>
          </div>
        </div>





      </div>
      <%})%>
    </div>
  </div>



  <%- include ("partials/footer") %>