<%- include ("partials/header") %>
<h1>Index page</h1>
<% blogs.forEach(function(blog){%>
<div>
  <h1><%=blog.name%></h1>
  <img src="<%=blog.image%>" alt="" />
  <span><%=blog.date%></span>
  <p><%=blog.body%></p>
</div>

<%})%>
<%- include ("partials/footer") %>